@media (max-width: 600px) {
    body {
        margin: auto;
        width: 100%;
    }

    #content img  {
        width: 90%;
        margin: 5px;
    }
    
     #menu label { 
    display: inline-block; 
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 70%;
    padding: 10px;
  }
  

  /* Break down menu items into vertical */
  #menu-items a {
    /*box-sizing: border-box;*/
    display: inline-block;
    /*width: 100%;*/
    /*margin: 10px;*/
    /*border-top: 1px solid #333;*/
  }

  /* Toggle Show/Hide Menu */
  #menu-items { display: none; }
  #menu input:checked ~ #menu-items { display: block; }
}